# Exclude RStudio things
.RData
.Rhistory

# Exclude Visual Studio Code things
.vscode
.lintr

# Exclude local reference materials
/examples/**
.Rproj.user

# Exclude any temporary directories
**/temp/**