# Exclude RStudio things
.RData
.Rhistory

# Exclude Visual Studio Code things
.vscode
.lintr

# Exclude local reference materials
/examples/**
.Rproj.user

# Exclude large data files
**/R6_map.rds

# Exclude any temporary directories
**/temp/**
utility/data/**
utility/out/**